<p class="text-center text-muted">MyCellar &copy; 2015-<span id="year"></span>, Bradley Lontz</p>

<script>
	(function() {
		var today = new Date();
		$('#year').text(today.getFullYear());
	})();
</script>