<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body role="document">

    <header>
        <% include ../partials/header %>
    </header>

    <div class="row">
        <div class="col-md-10 col-sm-offset-1">
            <div class="jumbotron">
                <h1 class="text-center">About MyCellar</h1>
                <p class="text-center"><strong>MyCellar</strong> was created as a simple way to manage what wines are currently in my wine cellar. I've often had wines at friends houses or restaurants and then forgotten their names or years. The MyCellar site allows you to make a note of those wines and then keep track of how much, if any, of them you have in your wine cellar.</p>
            </div>
         </div>
    </div>

    <footer>
        <% include ../partials/footer %>
    </footer>
</body>
</html>