<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body role="document">

    <header>
        <% include ../partials/header %>
    </header>

    <div class="row">
        <div class="col-md-10 col-sm-offset-1">
            <div class="jumbotron">
                <h1 class="text-center">Welcome to MyCellar</h1>
                <p class="text-center">This site let's you maintain your wines.  What you like and what you have on-hand in your cellar.  Use the menu at the top to display your cellar and maintain the wines in your cellar.</p>
            </div>
         </div>
    </div>

    <footer>
        <% include ../partials/footer %>
    </footer>
</body>
</html>